{% extends 'base.html' %}
{% block body %}

<div class="container">
  <h1>Welcome</h1>

  <form id="auth-form" method="post">
    <input
      type="text"
      name="username"
      placeholder="username"
      class="input-field"
      required
    />

    <input
      type="password"
      name="password"
      placeholder="password"
      class="input-field"
      required
    />

    <input type="button" value="Login" class="btn btn-login" onclick="setActionForm('login')">
    <input type="button" value="Register" class="btn btn-register" onclick="setActionForm('register')">
    <input type="button" class="btn login-google" value="Login with Google" onclick="window.location.href='/login/google'">

  </form>
</div>

<script>
  function setActionForm(action) {
    const form = document.getElementById("auth-form");

    if (action === "login") {
      form.action = "{{ url_for('login') }}";
    } else if (action === "register") {
      form.action = "{{ url_for('register') }}";
    }

    form.method = "post";
    form.submit();
  }
</script>

{% endblock %}
